@import '../../styles/colors';

.sidebarNav {
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
  width: 16rem;
  border-right: 1px solid $border;

  &_nav {
    &_active {
      background-color: $nav-link-active;
    }
    &_inActive {
      background-color: transparent;
    }
  }
}
